.title-text{
	font-size: 60px;
	margin-left: 10px;
	margin-top: 10px;
	
}

.text{
	font-family: apple-chancery;
	margin-left:10px;
}

.paragraph{
	margin-left:10px;
	font-family: arial;
	font-weight: bold;
	color: white;
	font-size: 14px;
}

.profile-pic{
	width: 100%;
}

.card-footer {
	margin-top: 30px;
}

.card{
	margin-top: 20px;
	background-color: lightpink;
}

.para{
	font-family: arial;
	font-weight:bold;
}

h4{
	margin-top: 10px;
}

.card-title.text-left{
	margin-left:10px;
}


.card-title:hover{
	color: red;
}

.bullet-point{
	margin-left:-30px;
	margin-top: 10px;
	font-weight: bold;
	font-family: arial;

}

.coins{
	width:200px;
	height: 100px;
	margin-left: 500px;
	top: 70px;


}

.315{
	margin-bottom: 30px;
	margin-left:20px;
}






