nav{
	background-color: lightpink;

}

.navbar-brand.sah-title{
	color: black;

}

.nav-item .nav-link.nav-menu-item {
	color: black;
}

body{
	background: url("../Imgs/bah_image.jpeg"); no-repeat center center fixed;
	background-size: cover;
}

h1{
	font-size: 110px;
	font-family: italic;
	color: white;
}

.title-text{
	font-family: apple-chancery;

}

h2{
	font-size: 40px;
	color: white;
}